<!DOCTYPE html>
<html lang="en">
<head>


<link rel="stylesheet" type="text/css" href="/assests/styles/dist/nav.css">

</head>
<body>
    
<header>
<nav>
<div id="left nav">
<p id="weirdAl">left
and im hjere</p>
</div>



<div id="middlenav">

<form autocomplete="off" id="nav-locationsearch" >
<input type="text" list="navbar-places-list" id="nav-searchbar" autocomplete="off"  placeholder="Search(general locations we've been, dates, etc)" value="" >




</form>




</div>
<div id="searchbar-dropdown-container">
<div id="searchbar-dropdown"></div>
</div>
<div id=" rightnav">
<div id="rightnav-link-container">
<a href="/" id="byebye">home</a>
<a href="/profile">hello</a>
<a href="/create">Create Map</a>
</div>
</div>



</nav>
</header>




</body>
</html>