<!DOCTYPE html>
<html lang="en">
<head>


<link rel="stylesheet" type="text/css" href="/assests/styles/dist/nav.css">
</head>
<body>
    
<header>
<nav>
<div id="left nav">
<p>left</p>
</div>



<div id="middlenav">
<input type="text" placeholder="Search">
<p>middle</p>
</div>

<div id=" rightnav">
<a href="/">home</a>
<a href="/profile/hi">hello</a>

</div>
</nav>
</header>




</body>
</html>