<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<link rel="stylesheet" href="/assests/styles/dist/searchbar.css">
<script defer src="/assests/scripts/dist/searchbar.js"></script>
</head>
<body>
    



<button id="search-button">Search</button>




<div id="search-results-container">
<p>suggestions</p>
<button id="close-search">Close</button>
<form autocomplete="off" id="nav-locationsearch" >
<input type="text" list="navbar-places-list" id="nav-searchbar" autocomplete="off"  placeholder="Search(general locations we've been, dates, etc)" value="" >
</form>


<div id="searchbar-dropdown-container">
<div id="searchbar-dropdown"></div>
</div>
</div>




</body>
</html>