<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, viewport-fit=cover, user-scalable=no, shrink-to-fit=no" />
    <title>Document</title>
<link rel="stylesheet" href="/assests/styles/dist/searchbar.css">
<script defer src="/assests/scripts/dist/searchbar.js"></script>
<script defer src="/node_modules/swup/dist/swup.min.js"></script>
<script defer src="/node_modules/@swup/scripts-plugin/dist/SwupScriptsPlugin.js"></script>
<script defer src="/node_modules/@swup/head-plugin/dist/SwupHeadPlugin.js"></script>
</head>
<body>
    








<div id="search-results-container">






<div id="searchbar-dropdown-container">
<div id="searchbar-dropdown"></div>
</div>


</div>


</body>
</html>