<!DOCTYPE html>
<html lang="en">
<head>


<link rel="stylesheet" href="/assests/styles/dist/top-nav.css">
<link rel="stylesheet" href="/assests/styles/dist/navbar-responsive.css">

</head>
<body>
    
<header>
<nav>
<div id="left nav">
<p id="weirdAl">left side</p>
</div>



<div id="middlenav">
<button id="wonky">hey there</button>








</div>

<div id="rightnav">
<div id="rightnav-link-container">
<a href="/">home</a>
<a href="/profile">hello</a>
<a href="/create">Create Map</a>
<a href="/pictures">pictures</a>
</div>
</div>




<div id="nav-mobile">
<button id="nav-mobile-button"></button>



</div>


</nav>
</header>




</body>
</html>