<!DOCTYPE html>
<html lang="en">
<head>


<link rel="stylesheet" href="/assests/styles/dist/top-nav.css">
<link rel="stylesheet" href="/assests/styles/dist/navbar-responsive.css">
<script defer src="/assests/scripts/dist/navbar.js"></script>

</head>
<body>
    
<header id="header">
<nav>
<div id="leftnav">

<a href="/">Go Home</a>
</div>



<div id="middlenav">









</div>

<div id="rightnav">
<div id="rightnav-link-container">
<button id="nav-burger-button">This will be for the top nav to get to differnt links</button>>

</div>
</div>







</nav>
</header>




</body>
</html>