@import "./colors";


*{
margin: 0;
padding:0;
box-sizing: border-box;
border: 0;
overflow: hidden;
overscroll-behavior: none;
}



#mobile-nav{
position: fixed;
bottom: calc(env(safe-area-inset-bottom));

width: 100%;
height: 6vh;
display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center;
text-align: center;
background-color: $white;


a{
flex: 25%;

text-align: center;
text-decoration: none;
color: $black;
-webkit-tap-highlight-color: transparent;
border-right: 1px solid black;

i{

color: $black;
font-size: 1.5rem;

}
}:last-child{
border-right: transparent;


}



}
