// lower to higher means (0 is closer to white)

$grey0:#7B7382;
$grey1:#5C5661;



$violet:#4649AF;




$orange:#ED7E07 ;


$turquoise0:#7CBBCB; 
$turquoise1:#469AAF;




$lightblue:#0096E0;
$darkblue:#0052F5;
$red0:#FF4754;
$red1:#F50010;

$white: #FFFFFF;
$white1:#F5F5F5;
$black: #0A0A0A;
