*{


margin: 0;
padding:0;
box-sizing: border-box;
border: 0;
}



#map-container{
width: 100vw;
height:68vh;
border: 5px solid red;

#mapview-buttons{
position: relative;
bottom: 5rem;
left: 2rem;
width:10vw;



button{
border: 2px solid blue;
background-color: #add8e6;
padding: .5rem;
border-right-color:black ;
border-radius: 1rem 0rem 0rem 1rem;


}



:last-child{

border-radius: 0rem 1rem 1rem 0rem;


}

}



#map{
width: 100%;
height: 100%;


}
}



#map{
width: 100vw;
height: 60vh;


}

#map-description-container{
width: 100vw;
border: 5px solid red;
height: 24vh;

}