*{



margin: 0;
padding:0;
box-sizing: border-box;
border: 0;
}


body{
width: 100vw;
height: 100vh;
display: flex;
flex-direction: column;
flex-wrap: nowrap;
overflow-y: hidden;
background-color: lightcoral;
}

#map-container{
width: 100%;
flex:65%;
border: 5px solid red;

#mapview-buttons{
position: relative;
bottom: 2vh;
left: 2vw;
width:10vw;



button{
border: 2px solid blue;
background-color: #add8e6;
padding: .5rem;
border-right-color:black ;
border-radius: 1rem 0rem 0rem 1rem;


}



:last-child{

border-radius: 0rem 1rem 1rem 0rem;


}

}



#map{
width: 100%;
height: 100%;


}
}





#map-description-container{
width: 100%;
border: 5px solid red;
flex: 20%;

}


header{
flex: 8%;
nav{

position: relative;
top: 2.5vh;


display: flex;

width: 100%;
height: 8vh;

justify-content: space-between;

a{

color:blue;

}

#leftnav{

flex: 1;

}



#middlenav{
flex: 5;

button{
border: 2px solid blue;
background-color: #add8e6;
padding: .5rem;
border-right-color:black ;
border-radius: 1rem 0rem 0rem 1rem;


}


form{
width: 100%;

text-align: center;
input{
margin:auto;
border: 2px solid black;
border-radius: 5px;
width:60%;
height: 3vh;

}:focus{
outline: none;

}


}


}


#searchbar-dropdown-container{
width: 33vw;
margin: auto;
margin-top: 2vh;
display: none;
border: 5px solid red;
height: 50px;
grid-column: 2/3;
grid-row: 2/3;
}


#searchbar-dropdown{
width:100%;

display: block;

border:1px solid orange;

h3{


display:block;
}

}




#rightnav{
flex: 3;


}

#rightnav-link-container{


a{

text-decoration: none;
border:.25rem solid blue;
border-radius: 1rem;
padding: .42rem;
width: 5vw;
}
}

}

}


.nav-searchable-locations{

display: block;

}



#search-results-container{
position: absolute;
background-color: pink;
top: 0;
right: 0;
width: 100%;
height: 100vh;
display:none;
z-index: 500;
}

@media only screen and  (max-width: 450px){



} 
    


@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }


header{
position: absolute;
bottom: 10vh;


}


}
