@import "./colors";


*{
margin: 0;
padding:0;
box-sizing: border-box;
border: 0;
overflow: hidden;
overscroll-behavior: none;
}


 #mainwrapper {
 width: 100%;
  height: 100%;
overscroll-behavior: none; 
flex: 100%;
display: flex;
flex-direction: column;
flex-wrap: nowrap;
position: fixed;
overflow: hidden;
padding-top: env(safe-area-inset-top, 0);
}
body{
position: fixed;
width: 100vw;
height: 100vh;
display: flex;
flex-direction: column;
flex-wrap: nowrap;
overflow-y: hidden;
}

.transition-fade {
  transition: 0.5s;
  opacity: 1;
}

html.is-animating .transition-fade {
  opacity: 0;
}

#swup{
width: 100%;
height: 100%;
border-top: none;
overscroll-behavior: none; 
flex: 100%;
display: flex;
flex-direction: column;
flex-wrap: nowrap;
position: fixed;
overflow: hidden;

}



form{
position: fixed;
top: 2vh;
width: 100%;
z-index: 10;
text-align: center;

background-color: transparent;
input{
margin:auto;
border: 2px solid black;
border-radius: 5px;
width:65%;
height: 4vh;

}:focus{
outline: none;

}


}

#close-search-button{
position: fixed;
top: 2vh;
left: 2vw;
height: 4vh;
z-index: 31;
display: none;

}



#map-container{
width: 100%;
height: 95vh;






#map{
width: 100%;
height: 100%;


}


i{


font-size: 3rem;
  background-size: cover;
  cursor: pointer;
}

}


#map-description-container{
width: 100%;
flex: 20%;
display: none;
flex-direction: column;
align-items: center;
position: absolute;



#map-title-container{
flex: 15%;

h2{
color:$black;



}

}


#map-description-container-text{
flex: 85%;

.map-description-text{
color: $darkblue;


}
}

}











.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}


.mapboxgl-ctrl-bottom-right{
display: none;
}

.mapboxgl-ctrl-bottom-left{
display: none;
}


