* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 0;
  overflow: hidden;
  overscroll-behavior: none;
}

#mainwrapper {
  width: 100%;
  height: 100%;
  overscroll-behavior: none;
  -webkit-box-flex: 100%;
      -ms-flex: 100%;
          flex: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  position: fixed;
  overflow: hidden;
  background-color: #FFFFFF;
  padding-top: env(safe-area-inset-top, 0);
}

body {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  overflow-y: hidden;
}

.transition-fade {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  opacity: 1;
}

html.is-animating .transition-fade {
  opacity: 0;
}

#swup {
  width: 100%;
  height: 100%;
  border-top: none;
  overscroll-behavior: none;
  -webkit-box-flex: 100%;
      -ms-flex: 100%;
          flex: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  position: fixed;
  overflow: hidden;
  background-color: #FFFFFF;
}

form {
  position: fixed;
  top: 2vh;
  width: 100%;
  z-index: 10;
  text-align: center;
  background-color: transparent;
}

form input {
  margin: auto;
  border: 2px solid black;
  border-radius: 1vw;
  width: 65%;
  height: 4vh;
}

form :focus {
  outline: none;
}

#close-search-button {
  position: fixed;
  top: 2vh;
  left: 2vw;
  height: 5vh;
  text-align: center;
  background-color: transparent;
  width: 8vw;
  z-index: 31;
  display: none;
  font-size: 2rem;
  border-radius: 50%;
}

#map-container {
  width: 100%;
  height: 95vh;
  position: fixed;
  margin-bottom: calc(env(safe-area-inset-bottom) + 5vh);
}

#map-container #map {
  width: 100%;
  height: 100%;
}

#map-container i {
  font-size: 3rem;
  background-size: cover;
  cursor: pointer;
}

.showMapTitle {
  bottom: -13.85vh !important;
}

.showmapDescription {
  bottom: 6vh !important;
}

#map-description-container {
  width: 100%;
  -webkit-box-flex: 20%;
      -ms-flex: 20%;
          flex: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 100;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  height: 25vh;
  background-color: #FFFFFF;
  bottom: -19vh;
  -webkit-transition: all .950s ease;
  transition: all .950s ease;
}

#map-description-container #map-title-container {
  -webkit-box-flex: 15%;
      -ms-flex: 15%;
          flex: 15%;
  max-height: 15%;
  width: 100%;
  height: 15%;
  padding-bottom: 5vh;
  text-align: center;
}

#map-description-container #map-title-container h2 {
  color: #0A0A0A;
  -webkit-box-flex: 85%;
      -ms-flex: 85%;
          flex: 85%;
  height: 3.75vh;
}

#map-description-container #map-description-container-text {
  height: 75%;
  -webkit-box-flex: 86%;
      -ms-flex: 86%;
          flex: 86%;
  text-align: center;
  overflow: none;
}

#map-description-container #map-description-container-text .map-description-text {
  color: #0A0A0A;
  font-size: calc(1vh + 2vw);
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.mapboxgl-ctrl-bottom-right {
  display: none;
}

.mapboxgl-ctrl-bottom-left {
  display: none;
}
/*# sourceMappingURL=index.css.map */