*{


margin: 0;
padding:0;
box-sizing: border-box;
border: 0;
}


nav{

display: flex;
width: 100vw;
height: 8vh;
align-items: center;
justify-content: space-around;

a{

color:blue;

}

#leftnav{

width: 15vw;

}



#middlenav{
display: flex;
flex-direction: column;

place-content: center;

width: 55vw;

form{
width: 100%;
text-align: center;
input{
margin:auto;
border: 2px solid black;
border-radius: 5px;
width:60%;
height: 3vh;

}:focus{
outline: none;
border: 5px solid blue;
}





}







#searchbar-dropdown{
width:33vw;
margin:auto;
display: none;

border:1px solid orange;



}




}




#nav-searchbar:focus #searchbar-dropdown{

display: block;
}









#rightnav{

width: 15vw;

}



}


