*{
margin: 0;
padding:0;
box-sizing: border-box;
border: 0;
}


@media only screen and (max-width: 600px) {


header{
display: none;

}
#mobile-nav{

display: flex;

}

}




@media only screen and (min-width: 600px) {



#mobile-nav{

display: none !important;

}

header{
display: flex;


}

}






