<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Not found</title>
<link rel="stylesheet" type="text/css" href="/assests/styles/dist/index.css">
</head>
<body>


<header>
<nav>
<div id="left nav">
<p id="weirdAl">left side</p>
</div>



<div id="middlenav">
<button id="wonky">hey there</button>


<form autocomplete="off" id="nav-locationsearch" >
<input type="text" list="navbar-places-list" id="nav-searchbar" autocomplete="off"  placeholder="Search(general locations we've been, dates, etc)" value="" >




</form>






</div>
<div id="searchbar-dropdown-container">
<div id="searchbar-dropdown"></div>
</div>
<div id="rightnav">
<div id="rightnav-link-container">
<a href="/">home</a>
<a href="/profile">hello</a>
<a href="/create">Create Map</a>
<a href="/pictures">pictures</a>
</div>
</div>




<div id="nav-mobile">
<button id="nav-mobile-button"></button>



</div>


</nav>
</header>
</body>
</html>