<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hola</title>
<!--my script ands style tags-->
<link rel="stylesheet" type="text/css" href="/assests/styles/dist/index.css">
<script defer src="/assests/scripts/dist/index.js"></script>
<script  defer src="/assests/scripts/dist/nav.js"></script>

<script  src='https://api.mapbox.com/mapbox-gl-js/v2.2.0/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v2.2.0/mapbox-gl.css' rel='stylesheet' />

  <link rel="apple-touch-icon" href="/images/apple-touch.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#764ABC"/>

<link rel="manifest" href="manifest.json">

</head>
<body>
<%- include("../partials/nav"); %>


<script> 
if('serviceWorker' in navigator)
navigator.serviceWorker.register('/service-worker.js')
</script>







<!-- Load the `mapbox-gl-geocoder` plugin. -->

<!--

<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.0/mapbox-gl-geocoder.min.js"></script>
<link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.0/mapbox-gl-geocoder.css" type="text/css">
 

<script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.min.js"></script>


 -->

 




<section id="map-container">

<div id="map"></div>
<div id="mapview-buttons">

<button class="mapview-change" id="map-street-button"> Street</button>
<button id="movies">Movies</button>
<button id="park">park</button>
<button class="mapview-change" id="map-satilite-button">  Satilite</button>
</div>
</section>
<div id="map-description-container">

<p>her favorite colors are green, pink, and blue so use them for the page</p>

</div>



<script src="/reload/reload.js"></script>

</body>
</html>