<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hola</title>
<link rel="stylesheet" type="text/css" href="/assests/styles/dist/index.css">

<script  src='https://api.mapbox.com/mapbox-gl-js/v2.2.0/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v2.2.0/mapbox-gl.css' rel='stylesheet' />


<script defer src="/assests/scripts/dist/index.js"></script>



<script async defer src="/assests/scripts/dist/map.js"></script>

</head>
<body>
<%- include("../partials/nav"); %>




<section id="map-container">

<div id="map"></div>

</section>
<div id="map-description-container">


</div>




<script src="/reload/reload.js"></script>

</body>
</html>