<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, viewport-fit=cover, user-scalable=no, shrink-to-fit=no" />
<meta name="HandheldFriendly" content="true">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>jokes</title>
<script defer src="/node_modules/swup/dist/swup.min.js"></script>
<script defer src="/node_modules/@swup/scripts-plugin/dist/SwupScriptsPlugin.js"></script>
<script defer src="/assests/scripts/dist/page-transition.js" ></script>
<link rel="stylesheet" type="text/css" href="/assests/styles/dist/jokes.css">
<script src="/assests/scripts/dist/sw.js"></script>




<!-- APPLE SUPPORT-->
  <link rel="apple-touch-icon" href="/icons/apple-icon-180.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#ffffff"/>
<meta name="mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar" content="#ffffff">
<meta name="apple-mobile-web-app-status-bar-style"
    content="black-translucent">
<!-- Manifest stuff-->
<link rel="manifest" href="manifest.json">
</head>
<body>
<div id="mainwrapper">


<%- include("../partials/top-nav"); %>
    

<section id="swup" class="transition-fade">

<div id="jokes-container">

<h3>this is where jokes will go when they are ready

</h3>
</div>
</section>
<%- include("../partials/bottom-nav"); %>
</div>
<script src="/reload/reload.js"></script>
</body>
</html>