<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, viewport-fit=cover, user-scalable=no, shrink-to-fit=no" />
<meta name="HandheldFriendly" content="true">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">


<link rel="stylesheet" href="/assests/styles/dist/offline-fallback.css">
    <title>offline fallbackt</title>
</head>
<body>
    <div id="mainwrapper">


<%- include("../partials/top-nav"); %>
    
<h1>Oops sorry you are currently offline</h1>

<%- include("../partials/bottom-nav"); %>
</div>
<script src="/reload/reload.js"></script>
</body>
</html>