<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, viewport-fit=cover, user-scalable=no, shrink-to-fit=no" />
<meta name="HandheldFriendly" content="true">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>pics</title>
<link rel="stylesheet" type="text/css" href="/assests/styles/dist/pictures.css">
<script src="/assests/scripts/dist/sw.js"></script>
</head>
<body>
<div id="mainwrapper">
<%- include("../partials/top-nav"); %>
<div id="pictures-container">


<h3>This is where pictures will go

right here

herer right herer
</h3>

</div>


    


<%- include("../partials/bottom-nav"); %>
</div>

<script src="/reload/reload.js"></script>
</body>
</html>